Flask==3.0.0
pdf2docx==0.5.8
reportlab==4.0.7
PyPDF2==3.0.1
transformers==4.37.2
layoutparser==0.3.4
numpy==1.26.4
tqdm==4.66.1
python-dotenv==1.0.0
Pillow==10.1.0
pinecone-client==2.2.4
langdetect==1.0.9
PyMuPDF==1.23.8
google-generativeai==0.7.1
gunicorn
langchain-google-genai
torch
pytest-shutil
